lobal:
  scrape_interval: 10s
  evaluation_interval: 10s
  external_labels:
    monitor: vpn-monitor
rule_files: null
scrape_configs:
  - job_name: wireguard-exporter
    static_configs:
      - targets:
          - 172.24.0.2:9586
  - job_name: node-exporter
    static_configs:
      - targets:
          - 172.24.0.8:9100
  - job_name: cadvisor
    static_configs:
      - targets:
          - 172.24.0.10:8080
